<div class="container">
    <div>
        <h1 class="font-weight-bold my-4">UPLOAD NEW BLOG</h1>  
    </div>
</div>
<div class="container">
  <%= form_with model: @blog do |form| %>
    <% if @blog.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>
        <ul>
            <% @blog.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
      </div>
    <% end %>      
    <div class = "row bg-info col-12 p-4 m-2">           
      <div class= "col-12 text-md font-weight-bold">
        <div class="form-group" style="font-weight:bold;">
            <%= form.label :title %><br>
            <%= form.text_field :title, class: 'form-control' %>
        </div> 
        <div class="form-group">
            <%= form.label :description %><br>
            <%= form.text_area :description, rows: 7, :style => "height: 100%;", class: 'lg-textarea form-control' %>
        </div>
        <div class="form-group">
          <small id="fileHelp" class="form-text" style="font-weight:bold;">Upload image</small>
          <%= form.file_field :feature_image %>
        </div>
        <div class="form-group">
          <small id="fileHelp" class="form-text" style="font-weight:bold;">Want to upload multiple pictures? Click here</small>
          <%= form.file_field :images, multiple: true %>
        </div>
        <%= form.submit 'Save Changes',class:"btn btn-primary", style:"font-weight: bold; border-radius:5px"%>
      </div>
    </div>
  <% end %>  
</div>