<!DOCTYPE html>
<html>
<head>
  
<title>Blog</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

  <body>

    
      <nav class="navbar navbar-expand-md navbar-dark bg-primary" style="margin-bottom: 20px;">
        <%= link_to 'Blog Writing', root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            </li>
          </ul>
          <% if user_signed_in? %>
          <div class = "col-3 col-sm-2 col-md-2 col-lg2 mt-2 mr-2">
                <%= link_to 'Upload New Blog', new_blog_path, class:"btn btn-info btn-md ", style:"hover:{color: white};font-size:18px;font-weight: bold; border-radius:5px" %>
                <br>
            </div>
          <ul class="navbar-nav">
          <li class="nav-item">
          
          <%= link_to "Signed in as: #{current_user.full_name}", blogs_path, class: 'nav-link name_disabled' %>
          </li>
          <li class="nav-item">
            <%= link_to 'My Blogs'.html_safe, myblogs_path, class: 'nav-link' %> 
          </li>       
            <li class="nav-item">
              <%= link_to 'All Blog'.html_safe, blogs_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Settings', user_profile_path,  class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
          </ul>
          <% else %>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email" %>&nbsp;
                </li>
                <li class="nav-item">
                  <%= f.password_field :password, autocomplete: "current-password", placeholder:"Password" %>&nbsp;
                </li>
                <li class="nav-item">
                  <div class="actions">
                    <%= f.submit "Log in" %>
                  </div>
                </li>
                
              </ul>
              <div style:"margin-top: 5px;">
                <% if devise_mapping.rememberable? %>
                <%= f.check_box :remember_me,style:"margin-top:5px;" %>
                <%= f.label :remember_me, style:"color:white;" %>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= link_to "Forgot your password?", new_password_path(resource_name), style:"color:white;" %>
            <% end %>
            </div>
            <%end%>
            
          <%end%>
        </div>
      </nav>
      <% if notice %>
      <p class="alert" style="margin: auto; width: 50%; padding: 10px; color: green!important;"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      
      <%= yield %>
    

  </body>
 
  
</html>
